.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 5vh;
}
.title_calculator {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.title_grafico {
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
}