.ganhos_calculadora {
    color: green;
    font-weight: bold;
}
.despesas_calculadora {
    color: red;
    font-weight: bold;
}

.titleFinance {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 2%;
}
.titleFinance h2 {
    font-weight: bold;
}
.titleFinance h2:last-child {
    padding-right: 10%;
}